.App {
  width: fit-content;
  height: fit-content;
  border: solid;
  border-color: black;
  border-width: thin;
  padding: 20px;
  margin: auto;
}

.plotArea {
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  border-color: darkgray;
  border-width: thin;
  display:flex;
  padding:20px;
}

.label {
  position: absolute;
  z-index: 10;
  font-size: small;
  font-family: 'Lucida Sans';
  width: fit-content;
  height: fit-content;
}

.plot {
  width: 700px;
  height: 700px;
  border: solid;
  border-color: darkgray;
  border-width: thin;
  margin:10px;
}
.point{
  width: 100px;
  height: 100px;
  position: absolute;
  border: solid;
  border-color: darkgray;
  border-width: thin;
  margin:10px;
}
.unusedPoints {
  width: 150px;
  height: 700px;
  border: solid;
  border-color: darkgray;
  border-width: thin;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  margin:10px;
}
.AxisSelectors {
  display: flex;
  margin: auto;
  height: 1.5rem;
  width: fit-content; 
  padding: 10px;
}