.App {
  font-family: 'Lucida Sans';
  width: 80%;
  height: 98%;
  position: absolute;
}
.options {
  position: absolute;
  transform-origin: top left;
  left:100%;
  top:0%;
  width: 200px;
  height: 98%;
  z-index: 1000;
  background-color: white;
  border: solid;
  border-width: thin;
  overflow-y: scroll;
}
.opt{
  width: 150px;
  text-align: center;
  height: fit-content;
  display:block;
  padding: 5px;
  margin: auto;
  border:solid;
  border-width: thin;
  border-color: darkgray;
}

.optImg{
  width: 130px;
  height: 130px;
  margin: auto;
}